<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search For News</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Major+Mono+Display&display=swap" rel="stylesheet">
  </head>
  <body>
<div class="maindiv">
  <h1>News.</h1>
  <form class="mainfrm" action="/results" method="post">
    <input type="text" name="searchbox" placeholder="Enter Query">
    <button type="submit" name="button">Search</button>
  </form>
</div>

  </body>
</html>
